@font-face {
    font-family: Inter;
    src: url(Inter.ttf);
}

body {
    margin: 0;
    font-family: Inter;
    color: #050505;
}






header {
    margin: 0 10px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;

    display: flex;
    gap: 20px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#logga {
    height: 20px;
    padding: 15px 0;
}

#hamburger {
    display: none;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#left, #right {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: #050505;
    text-decoration: none;
    padding: 5px;

    display: flex;
    align-items: center;
    gap: 5px;
}

a.nav:hover {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
}

#line {
    border: 0.5px solid #e5e5e5;
    height: 15px;
}

.botton {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 8px 12px;

    display: inline-block;

    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.botton:hover {
    background-color: #353535;
}

#top-botton {
    padding: 5px 10px;
}



@media (max-width: 600px) {
    header {
        border-bottom: 0;
        max-width: 600px;
        margin: 0 20px;
        padding: 10px 0 0 0;
    }

    #left, #right a {
        display: none;
    }

    #right div {
        display: none;
    }

    #hamburger {
        display: block;
        height: 25px;
    }
}







main {
    max-width: 1000px;
    height: auto;
    margin: 125px auto 100px auto;
    box-sizing: border-box;
}

.info-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botton-container {
    max-width: 450px;
}

.half-pic {
    max-width: 500px;
}

@media (max-width: 600px) {
    main {
        max-width: 540px;
    }

    .info-half {
        flex-direction: column;
    }

    .info-half#reverse {
        flex-direction: column-reverse;
    }

    .half-pic {
        margin-top: 30px;
    }

    .botton-container#center {
        text-align: center;
        margin-top: 20px;
        max-width: 510px;
    }
}








#company {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;

    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#company img {
    max-height: 27px;
}


@media (max-width: 600px) {
    #company {
        padding: 20px 20px;
    }
}






.info {
    max-width: 980px;
    margin: 100px auto;
}

.info-top {
    max-width: 46%;
}

.writer {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin: 20px;
}

.writer img {
    height: 50px;
}

.info-pic {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px #e5e5e5;

    margin: 30px 0;
}


@media (max-width: 600px) {
    .info {
        max-width: 520px;
    }

    .info-top {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .p26 {
        margin: 0;
        font-size: 27px;
    }
}







#free-plan {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.botton-containers {
    max-width: 600px;
    margin: 100px auto 75px auto;
    text-align: center;
}

#checklist {
    max-width: 700px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0 auto 100px auto;
    padding: 30px;

    font-size: 15px;
    font-weight: 320;
    color: #7f7f7f;
    box-sizing: border-box;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #e5e5e5;
    color: #999999;
}

.black {
    color: #050505;
}

.checkboxes img {
    max-height: 15px;
}

@media (max-width: 600px) {
    .botton-containers {
        max-width: 510px;
    }
}






#built{
    margin: 100px 0;
}

.team {
    text-align: center;
    margin: 0 0 50px 0;
}

#teams-container {
    width: 100%;
    text-align: center;

    display: flex;
}

a.link {
    text-decoration: underline;
    display: block;

    color: #050505;
    padding: 0;
}

a.link:hover {
    color: #087fe7;
}

#one {
    padding: 35px 35px 35px 0;
}

#two {
    border-left: 1px solid #e5e5e5;
    padding: 35px;
}

#three {
    border-left: 1px solid #e5e5e5;
    padding: 35px 0 35px 35px;
}

@media (max-width: 600px) {
    #teams-container {
        display: flex;
        flex-direction: column;
    }

    #one {
        padding: 35px;
    }

    #two, #three {
        border: none;
        padding: 35px;
    }
}











#rated {
    text-align: center;
    margin: 0 0 50px 0;
}

#text-link {
    display: inline-block;
    text-decoration: underline;
}

#procent-container {
    width: 100%;
    margin: 50px 0 0 0;

    display: flex;

    text-align: center;
    padding: 10px;
}

.procent {
    flex-grow: 1;
    flex-basis: 25%;
}


@media (max-width: 600px) {
    #intro.special {
        flex-direction: column;
    }

    #procent-container {
        display: flex;
        flex-direction: column;

        margin: 0;
    }

    .procent {
        flex-grow: 1;
        flex-basis: 25%;

        margin: 40px 0 0 0;
    }
}
















h1 {
    font-size: 45px;
    font-weight: 650;
    margin: 0;
}

.h1 {
    font-size: 53px;
    font-weight: 650;
    color: #666666;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 650;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: 550;
    color: #7f7f7f;
    text-align: center;
    margin: 0 20px;
}

h5 {
    font-size: 26px;
    font-weight: 650;
    margin: 0;
}

p {
    font-size: 15px;
    font-weight: 320;
    color: #7f7f7f;
}

.p12 {
    font-size: 12px;
    color: #7f7f7f;
    margin: 0;
}

.p15 {
    font-size: 15px;
    font-weight: 550;
    margin: 5px 0;
}
.p151 {
    font-size: 15px;
    font-weight: 320;
    color: #7f7f7f;
    margin: 10px 0;
}

.p152 {
    font-size: 15px;
    font-weight: 320;
    color: #7f7f7f;
}

.p18 {
    font-size: 18px;
    font-weight: 320;
    color: #7f7f7f;
}

.p181 {
    font-size: 18px;
    font-weight: 320;
    color: #666666;
    margin: 10px 0;
}

.p26 {
    font-size: 26px;
    font-weight: 650;
    margin: 0;
}